<!DOCTYPE html>
<html>

<head>
	<title>周秉颐 - 个人简历</title>
	<meta name="viewport" content="width=device-width" />
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="style.css">
	<script src="Vue-2.6.7.js"></script>
</head>

<body id="top">
	<div id="vue-app">
		<div id="cv" class="instaFade">
			<div class="mainDetails">
				<div id="name">
					<h1 class="quickFade delayTwo">{{name}}</h1>
					<h2 class="quickFade delayThree">{{job}}</h2>
				</div>
				<div id="contactDetails" class="quickFade delayFour">
					<ul>
						<li v-for="me in aboutMeItems">{{me.aboutMe}}</li>
						<li v-html="Email"></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div id="mainArea" class="quickFade delayFive">
			<section>
					<section>
						<div class="sectionTitle">
							<h1>{{projectExperience}}</h1>
						</div>
						<div class="sectionContent">
							<div class="projectContent" v-for="project in projects">
								<article>
									<h2>{{project.name}}</h2>
									<h3>{{project.time}}</h3>
									<!-- <p>{{project.content}}</p> -->
									<ul v-for="data in project.content">
										<li class="projectTittle">{{data.tittle}}</li>
										<ul  v-for="datas in data.contents">
											<li class="projectData">{{datas}}</li>
										</ul>
									</ul>
								</article>
							</div>
						</div>
						<div class="clear"></div>
					</section>
				<!-- <section>
					<div class="sectionTitle">
						<h1>{{educationExperience}}</h1>
					</div>
					<div class="sectionContent">
						<div class="educationContent" v-for="education in educations">
							<article>
								<h2>{{education.name}}</h2>
								<h3>{{education.time}}</h3>
								<ul>
									<li>{{education.content}}</li>
								</ul>
							</article>
						</div>
					</div>
					<div class="clear"></div>
				</section> -->
				<section>
					<div class="sectionTitle">
						<h1>{{exercitationExperience}}</h1>
					</div>
					<div class="sectionContent">
						<div class="exercitationContent" v-for="exercitation in exercitations">
							<article>
								<h2>{{exercitation.name}}</h2>
								<h3>{{exercitation.time}}</h3>
								<ul>
									<li>{{exercitation.content}}</li>
								</ul>
							</article>
						</div>
					</div>
					<div class="clear"></div>
				</section>

					<section>
						<div class="sectionTitle">
							<h1>{{skills}}</h1>
						</div>
						<div class="sectionContent">
							<ul class="keySkills">
								<li v-for="item in skillItems">{{item.skill}}</li>
							</ul>
						</div>
						<div class="clear"></div>
					</section>
					<section>
						<div class="sectionTitle">
							<h1>{{selfEvaluation}}</h1>
						</div>
						<div class="sectionContent">
							<article>
								<div class="toMe">
									<ul>
										<li v-for="item in selfItems">{{item.self}}</li>
									</ul>
								</div>
							</article>
						</div>
						<div class="clear"></div>
					</section>
			</div>
			<footer class="github-footer">
				<span v-html="resumeOnGithub"></span>
			</footer>
		</div>
	</div>
	<script src="app.js"></script>
</body>

</html>
